* {
	box-sizing: border-box;
}
html {
	overflow-y: scroll;
}
body {
	margin: 0;
	background: #efefef;
}
ul {
	margin-bottom: 0;
}
.accordion {
	background: #fff;
	border-radius: 5px;
	padding: 30px;
	margin-top: 2em;
}

.question {
	border-top: 1px solid #eee;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.question h2 {
	font-size: 20px;
	margin: 0;
	color: #c00c00;
}

.question .fas {
	color: #c00c00;
	transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.answer p {
	padding: 20px;
}

.accordion li.open .answer {
	max-height: 200px;
}

.accordion li.open .question .fas {
	transform: rotate(180deg);
}

.answer {
	max-height: 0;
	overflow: hidden;
	transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.answer p {
	padding: 20px;
}
